<%- include('header', {pageTitle: pageTitle}) %>

    <div class="box" id="heading">
        <h1>All Lists</h1>
    </div>

    <div class="box">

        <% foundLists.forEach(list=> { %>
            <form action="/deleteList" method="post" class="item">
                <p class="listName-para"><a href="/all-lists/<%= list.name %>">
                        <%= list.name %>
                    </a>
                </p>

                <button type="submit" name="listId" value="<%= list._id %>" class="del-btn"><img src="/css/delete.svg" height="32px" alt="D"></button>
            </form>
            <% }); %>
    </div>

    <%- include('footer') %>